Prosol.Core/Service References/ServiceReference1/zmat_com.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZMAT_COM">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZMAT_COM_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZMATERIAL_CREATE_RFC_com_SRV">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>080027FFCBF01EEAAE9CF36F1C202847</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZMATERIAL_CREATE_RFC">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal15.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal23.4">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="23" />
          <xsd:fractionDigits value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal3.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="3" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal4.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="4" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal5.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="5" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="lang">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="BAPI_MARM">
        <xsd:sequence>
          <xsd:element name="ALT_UNIT" type="tns:unit3" />
          <xsd:element name="ALT_UNIT_ISO" type="tns:char3" />
          <xsd:element name="NUMERATOR" type="tns:decimal5.0" />
          <xsd:element name="DENOMINATR" type="tns:decimal5.0" />
          <xsd:element name="EAN_UPC" type="tns:char18" />
          <xsd:element name="EAN_CAT" type="tns:char2" />
          <xsd:element name="LENGTH" type="tns:quantum13.3" />
          <xsd:element name="WIDTH" type="tns:quantum13.3" />
          <xsd:element name="HEIGHT" type="tns:quantum13.3" />
          <xsd:element name="UNIT_DIM" type="tns:unit3" />
          <xsd:element name="UNIT_DIM_ISO" type="tns:char3" />
          <xsd:element name="VOLUME" type="tns:quantum13.3" />
          <xsd:element name="VOLUMEUNIT" type="tns:unit3" />
          <xsd:element name="VOLUMEUNIT_ISO" type="tns:char3" />
          <xsd:element name="GROSS_WT" type="tns:quantum13.3" />
          <xsd:element name="UNIT_OF_WT" type="tns:unit3" />
          <xsd:element name="UNIT_OF_WT_ISO" type="tns:char3" />
          <xsd:element name="DEL_FLAG" type="tns:char1" />
          <xsd:element name="SUB_UOM" type="tns:unit3" />
          <xsd:element name="SUB_UOM_ISO" type="tns:char3" />
          <xsd:element name="GTIN_VARIANT" type="tns:char2" />
          <xsd:element name="NESTING_FACTOR" type="tns:decimal3.0" />
          <xsd:element name="MAXIMUM_STACKING" type="xsd:unsignedByte" />
          <xsd:element name="CAPACITY_USAGE" type="tns:decimal15.3" />
          <xsd:element name="EWM_CW_UOM_TYPE" type="tns:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMATPLANT_INPUT">
        <xsd:sequence>
          <xsd:element name="PLANT" type="tns:char4" />
          <xsd:element name="LOADINGGRP" type="tns:char4" />
          <xsd:element name="PROFIT_CTR" type="tns:char10" />
          <xsd:element name="SERNO_PROF" type="tns:char4" />
          <xsd:element name="CTRL_CODE" type="tns:char16" />
          <xsd:element name="PUR_GROUP" type="tns:char3" />
          <xsd:element name="PUR_STATUS" type="tns:char2" />
          <xsd:element name="MATFRTGRP" type="tns:char8" />
          <xsd:element name="AUTO_P_ORD" type="tns:char1" />
          <xsd:element name="GR_PR_TIME" type="tns:decimal3.0" />
          <xsd:element name="CRIT_PART" type="tns:char1" />
          <xsd:element name="MRP_GROUP" type="tns:char4" />
          <xsd:element name="ABC_ID" type="tns:char1" />
          <xsd:element name="MRP_TYPE" type="tns:char2" />
          <xsd:element name="REORDER_PT" type="tns:quantum13.3" />
          <xsd:element name="MRP_CTRLER" type="tns:char3" />
          <xsd:element name="LOTSIZEKEY" type="tns:char2" />
          <xsd:element name="MINLOTSIZE" type="tns:quantum13.3" />
          <xsd:element name="MAXLOTSIZE" type="tns:quantum13.3" />
          <xsd:element name="MAX_STOCK" type="tns:quantum13.3" />
          <xsd:element name="PROC_TYPE" type="tns:char1" />
          <xsd:element name="SPPROCTYPE" type="tns:char2" />
          <xsd:element name="BACKFLUSH" type="tns:char1" />
          <xsd:element name="ISS_ST_LOC" type="tns:char4" />
          <xsd:element name="BULK_MAT" type="tns:char1" />
          <xsd:element name="PLND_DELRY" type="tns:decimal3.0" />
          <xsd:element name="SM_KEY" type="tns:char3" />
          <xsd:element name="SAFETY_STK" type="tns:quantum13.3" />
          <xsd:element name="MIN_SAFETY_STK" type="tns:quantum13.3" />
          <xsd:element name="PLAN_STRGRP" type="tns:char2" />
          <xsd:element name="AVAILCHECK" type="tns:char2" />
          <xsd:element name="ISSUE_UNIT" type="tns:unit3" />
          <xsd:element name="STGEPERIOD" type="tns:decimal5.0" />
          <xsd:element name="STGE_PD_UN" type="tns:unit3" />
          <xsd:element name="STGE_LOC" type="tns:char4" />
          <xsd:element name="STGE_BIN" type="tns:char10" />
          <xsd:element name="WHSE_NO" type="tns:char3" />
          <xsd:element name="STGE_TYPE" type="tns:char3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMATERIAL_INPUT">
        <xsd:sequence>
          <xsd:element name="MATERIAL" type="tns:char18" />
          <xsd:element name="IND_SECTOR" type="tns:char1" />
          <xsd:element name="MATL_TYPE" type="tns:char4" />
          <xsd:element name="BASIC_VIEW" type="tns:char1" />
          <xsd:element name="SALES_VIEW" type="tns:char1" />
          <xsd:element name="PURCH_VIEW" type="tns:char1" />
          <xsd:element name="MRP_VIEW" type="tns:char1" />
          <xsd:element name="FORECAST_VIEW" type="tns:char1" />
          <xsd:element name="WORK_SCHED_VIEW" type="tns:char1" />
          <xsd:element name="STORAGE_VIEW" type="tns:char1" />
          <xsd:element name="WAREHOUSE_VIEW" type="tns:char1" />
          <xsd:element name="ACCOUNT_VIEW" type="tns:char1" />
          <xsd:element name="QUALITY_VIEW" type="tns:char1" />
          <xsd:element name="PRT_VIEW" type="tns:char1" />
          <xsd:element name="BASE_UOM" type="tns:unit3" />
          <xsd:element name="SIZE_DIM" type="tns:char32" />
          <xsd:element name="NET_WEIGHT" type="tns:quantum13.3" />
          <xsd:element name="UNIT_OF_WT" type="tns:unit3" />
          <xsd:element name="BASE_UOM2" type="tns:unit3" />
          <xsd:element name="MATL_GROUP" type="tns:char9" />
          <xsd:element name="EXTMATLGRP" type="tns:char18" />
          <xsd:element name="OLD_MAT_NO" type="tns:char18" />
          <xsd:element name="DIVISION" type="tns:char2" />
          <xsd:element name="DSN_OFFICE" type="tns:char3" />
          <xsd:element name="PUR_STATUS" type="tns:char2" />
          <xsd:element name="ALLWD_VOL" type="tns:quantum13.3" />
          <xsd:element name="PACK_VO_UN" type="tns:unit3" />
          <xsd:element name="ITEM_CAT" type="tns:char4" />
          <xsd:element name="BATCH_MGMT" type="tns:char1" />
          <xsd:element name="TRANS_GRP" type="tns:char4" />
          <xsd:element name="PO_UNIT" type="tns:unit3" />
          <xsd:element name="PUR_VALKEY" type="tns:char4" />
          <xsd:element name="MINREMLIFE" type="tns:decimal4.0" />
          <xsd:element name="SHELF_LIFE" type="tns:decimal4.0" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPI_MAKT">
        <xsd:sequence>
          <xsd:element name="LANGU" type="tns:lang" />
          <xsd:element name="LANGU_ISO" type="tns:char2" />
          <xsd:element name="MATL_DESC" type="tns:char40" />
          <xsd:element name="DEL_FLAG" type="tns:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMATSALES_INPUT">
        <xsd:sequence>
          <xsd:element name="SALES_ORG" type="tns:char4" />
          <xsd:element name="DISTR_CHAN" type="tns:char2" />
          <xsd:element name="SALES_UNIT" type="tns:unit3" />
          <xsd:element name="DELY_UOM" type="tns:unit3" />
          <xsd:element name="DELYG_PLNT" type="tns:char4" />
          <xsd:element name="MIN_ORDER" type="tns:quantum13.3" />
          <xsd:element name="MIN_DELY" type="tns:quantum13.3" />
          <xsd:element name="DELY_UNIT" type="tns:quantum13.3" />
          <xsd:element name="MATL_STATS" type="tns:char1" />
          <xsd:element name="MAT_PR_GRP" type="tns:char2" />
          <xsd:element name="ACCT_ASSGT" type="tns:char2" />
          <xsd:element name="ITEM_CAT" type="tns:char4" />
          <xsd:element name="MAT_GRP_1" type="tns:char3" />
          <xsd:element name="MAT_GRP_2" type="tns:char3" />
          <xsd:element name="MAT_GRP_3" type="tns:char3" />
          <xsd:element name="MAT_GRP_4" type="tns:char3" />
          <xsd:element name="MAT_GRP_5" type="tns:char3" />
          <xsd:element name="PROD_ATT_1" type="tns:char1" />
          <xsd:element name="PROD_ATT_2" type="tns:char1" />
          <xsd:element name="PROD_ATT_3" type="tns:char1" />
          <xsd:element name="PROD_ATT_4" type="tns:char1" />
          <xsd:element name="PROD_ATT_5" type="tns:char1" />
          <xsd:element name="PROD_ATT_6" type="tns:char1" />
          <xsd:element name="PROD_ATT_7" type="tns:char1" />
          <xsd:element name="PROD_ATT_8" type="tns:char1" />
          <xsd:element name="PROD_ATT_9" type="tns:char1" />
          <xsd:element name="PROD_ATT10" type="tns:char1" />
          <xsd:element name="VAL_CLASS" type="tns:char4" />
          <xsd:element name="VAL_CAT" type="tns:char1" />
          <xsd:element name="VAL_TYPE" type="tns:char10" />
          <xsd:element name="STD_PRICE" type="tns:decimal23.4" />
          <xsd:element name="MOVING_PR" type="tns:decimal23.4" />
          <xsd:element name="PRICE_CTRL" type="tns:char1" />
          <xsd:element name="PRICE_UNIT" type="tns:decimal5.0" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPIMATINR">
        <xsd:sequence>
          <xsd:element name="MATERIAL" type="tns:char18" />
          <xsd:element name="MATERIAL_EXTERNAL" type="tns:char40" />
          <xsd:element name="MATERIAL_GUID" type="tns:char32" />
          <xsd:element name="MATERIAL_VERSION" type="tns:char10" />
          <xsd:element name="MATERIAL_LONG" type="tns:char40" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPIRETURN1">
        <xsd:sequence>
          <xsd:element name="TYPE" type="tns:char1" />
          <xsd:element name="ID" type="tns:char20" />
          <xsd:element name="NUMBER" type="tns:numeric3" />
          <xsd:element name="MESSAGE" type="tns:char220" />
          <xsd:element name="LOG_NO" type="tns:char20" />
          <xsd:element name="LOG_MSG_NO" type="tns:numeric6" />
          <xsd:element name="MESSAGE_V1" type="tns:char50" />
          <xsd:element name="MESSAGE_V2" type="tns:char50" />
          <xsd:element name="MESSAGE_V3" type="tns:char50" />
          <xsd:element name="MESSAGE_V4" type="tns:char50" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPIRET2">
        <xsd:sequence>
          <xsd:element name="TYPE" type="tns:char1" />
          <xsd:element name="ID" type="tns:char20" />
          <xsd:element name="NUMBER" type="tns:numeric3" />
          <xsd:element name="MESSAGE" type="tns:char220" />
          <xsd:element name="LOG_NO" type="tns:char20" />
          <xsd:element name="LOG_MSG_NO" type="tns:numeric6" />
          <xsd:element name="MESSAGE_V1" type="tns:char50" />
          <xsd:element name="MESSAGE_V2" type="tns:char50" />
          <xsd:element name="MESSAGE_V3" type="tns:char50" />
          <xsd:element name="MESSAGE_V4" type="tns:char50" />
          <xsd:element name="PARAMETER" type="tns:char32" />
          <xsd:element name="ROW" type="xsd:int" />
          <xsd:element name="FIELD" type="tns:char30" />
          <xsd:element name="SYSTEM" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_BAPI_MARM">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BAPI_MARM" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_BAPI_MAKT">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BAPI_MAKT" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_BAPIMATINR">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BAPIMATINR" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZMATERIAL_CREATE_RFC">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZMATDESC" type="tns:TABLE_OF_BAPI_MAKT" />
            <xsd:element name="ZMATERIAL" type="tns:TABLE_OF_BAPIMATINR" />
            <xsd:element minOccurs="0" name="ZMATERIALINPUT" type="tns:ZMATERIAL_INPUT" />
            <xsd:element minOccurs="0" name="ZMATPLANTINPUT" type="tns:ZMATPLANT_INPUT" />
            <xsd:element minOccurs="0" name="ZMATSALESINPUT" type="tns:ZMATSALES_INPUT" />
            <xsd:element name="ZUOM" type="tns:TABLE_OF_BAPI_MARM" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZMATERIAL_CREATE_RFCResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZMATDESC" type="tns:TABLE_OF_BAPI_MAKT" />
            <xsd:element name="ZMATERIAL" type="tns:TABLE_OF_BAPIMATINR" />
            <xsd:element name="ZMATNR" type="tns:char40" />
            <xsd:element name="ZRETURN" type="tns:BAPIRETURN1" />
            <xsd:element name="ZRETURN2" type="tns:BAPIRET2" />
            <xsd:element name="ZUOM" type="tns:TABLE_OF_BAPI_MARM" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZMATERIAL_CREATE_RFC">
    <wsdl:part name="parameters" element="tns:ZMATERIAL_CREATE_RFC" />
  </wsdl:message>
  <wsdl:message name="ZMATERIAL_CREATE_RFCResponse">
    <wsdl:part name="parameter" element="tns:ZMATERIAL_CREATE_RFCResponse" />
  </wsdl:message>
  <wsdl:portType name="ZMATERIAL_CREATE_RFC_com_SRV">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://s4hana1909.training.com:8701/sap/bc/esdt/docu/sd_text?sap-client=800&amp;sd_name=ZMATERIAL_CREATE_RFC_COM_SRV" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZMATERIAL_CREATE_RFC_com_SRV" />
    </wsp:Policy>
    <wsdl:operation name="ZMATERIAL_CREATE_RFC">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZMATERIAL_CREATE_RFC" />
      </wsp:Policy>
      <wsdl:input message="tns:ZMATERIAL_CREATE_RFC" />
      <wsdl:output message="tns:ZMATERIAL_CREATE_RFCResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZMAT_COM" type="tns:ZMATERIAL_CREATE_RFC_com_SRV">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZMAT_COM" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZMATERIAL_CREATE_RFC">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZMATERIAL_CREATE_RFC_com_SRV:ZMATERIAL_CREATE_RFCRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZMAT_COM_soap12" type="tns:ZMATERIAL_CREATE_RFC_com_SRV">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZMAT_COM_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZMATERIAL_CREATE_RFC">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZMATERIAL_CREATE_RFC_com_SRV:ZMATERIAL_CREATE_RFCRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZMATERIAL_CREATE_COM_SRV">
    <wsdl:port name="ZMAT_COM" binding="tns:ZMAT_COM">
      <soap:address location="http://s4hana1909.training.com:8701/sap/bc/srt/rfc/sap/zmaterial_create_rfc_com_srv/800/zmaterial_create_com_srv/zmat_com" />
    </wsdl:port>
    <wsdl:port name="ZMAT_COM_soap12" binding="tns:ZMAT_COM_soap12">
      <wsoap12:address location="http://s4hana1909.training.com:8701/sap/bc/srt/rfc/sap/zmaterial_create_rfc_com_srv/800/zmaterial_create_com_srv/zmat_com" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>